<div class="progress">
    <div class="progress-bar bg-danger"
         role="progressbar"
         style="width: {todo_in_percent}%"
         aria-valuenow="{todo}"
         aria-valuemin="0"
         aria-valuemax="100"></div>
    <div class="progress-bar bg-info"
         role="progressbar"
         style="width: {doing_in_percent}%"
         aria-valuenow="{doing}"
         aria-valuemin="0"
         aria-valuemax="100"></div>
    <div class="progress-bar bg-success"
         role="progressbar"
         style="width: {done_in_percent}%"
         aria-valuenow="{done}"
         aria-valuemin="0"
         aria-valuemax="100"></div>
</div>
<hr>