<div class="us" status="{status}" name="E{epic_id}{id}">
<h3>
    <span class="badge badge-{epic_status_boostrap_class}">{epic_name}</span>
    <span class="badge badge-secondary">{priority}</span>
    <span class="badge badge-{status_boostrap_class}">{status}</span>
    <b>{id}</b>

    {name}
</h3>
<p>{notes}</p>
<ul class="list-group">
    {ac_body}
</ul>
<br/>
</div>